.ant-input-affix-wrapper .ant-input-suffix {
  padding-right: 11px;
  padding-left: 18px;
}

.ant-input-clear-icon {
  margin: 0;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  vertical-align: -1px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: rgba(0, 0, 0, 0.45);
  }
  &:active {
    color: rgba(0, 0, 0, 0.85);
  }
}

.ant-input-clear-icon-hidden {
  visibility: hidden;
}

// .ant-tabs {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   color: rgba(0, 0, 0, 0.85);
//   font-size: 14px;
//   font-variant: tabular-nums;
//   line-height: 1.5715;
//   list-style: none;
//   font-feature-settings: 'tnum';
//   display: flex;
// }
// .ant-tabs > .ant-tabs-nav,
// .ant-tabs > div > .ant-tabs-nav {
//   position: relative;
//   display: flex;
//   flex: none;
//   align-items: center;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
//   position: relative;
//   display: inline-block;
//   display: flex;
//   flex: auto;
//   align-self: stretch;
//   overflow: hidden;
//   white-space: nowrap;
//   transform: translate(0);
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap::before,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap::before,
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap::after,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap::after {
//   position: absolute;
//   z-index: 1;
//   opacity: 0;
//   transition: opacity 0.3s;
//   content: '';
//   pointer-events: none;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
//   position: relative;
//   display: flex;
//   transition: transform 0.3s;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations {
//   display: flex;
//   align-self: stretch;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations-hidden,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations-hidden {
//   position: absolute;
//   visibility: hidden;
//   pointer-events: none;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-more,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
//   position: relative;
//   padding: 8px 16px;
//   background: transparent;
//   border: 0;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-more::after,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more::after {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   height: 5px;
//   transform: translateY(100%);
//   content: '';
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add {
//   min-width: 40px;
//   margin-left: 2px;
//   padding: 0 8px;
//   background: #fafafa;
//   border: 1px solid #f0f0f0;
//   border-radius: 2px 2px 0 0;
//   outline: none;
//   cursor: pointer;
//   transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:hover,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:hover {
//   color: #40a9ff;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:active,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:active,
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:focus,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:focus {
//   color: #096dd9;
// }
