// Basic layout styles
@import 'dependencies/helpers.scss';
@import './variables.scss';
@import './antdCustoms.scss';

* {
  box-sizing: border-box;
  color: $color-white;

  &:focus {
    // outline: 1px dotted $color-link-primary;
  }
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  line-height: 1.25;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  margin: 0;

  .master {
    &.ng-animate {
      transition: 0;
    }
  }

  &.loading-project {
    overflow: hidden;
  }
}

.container {
  background-color: $background;
  @include flex(row, center, center);
  align-self: stretch;
  padding: 80px 195px;
  gap: 30px;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 40px 0;
  }
}

.container-logo {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-active {
  overflow: hidden;
}

.drag-active {
  overflow-x: hidden;
}

.master {
  height: 100%;
  min-height: 100%;
  position: relative;
}

.wrapper {
  display: flex;
  height: 100%;
  min-height: $main-height;
}

.main {
  flex: 1;
  min-width: 0;
  padding: 1rem;
}

.header-with-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  header {
    width: 100%;
  }
}

.header-navbar {
  background-color: $background;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 15px 50px;
  }

  @include mobile {
    padding: 15px 30px;
  }
}

.horizon-menu {
  width: fit-content;
  display: flex;
  gap: 20px;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.burger-menu {
  display: none;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.group-btns-horizontal {
  @include flex();
  gap: 10px;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  margin-block: 0 0;
  padding-inline-start: 0;
}

.menu-items {
  width: fit-content;
  text-align: center;
  padding: 0 20px;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

// Logo Typography
.logo {
  font-size: 20.8px;
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.e-hover {
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    transform: scale(0.95);
  }
}

.input-form {
  background-color: $color-white;
  height: 46px;
  width: 100%;
  @include flex(row, center);
  gap: 12px;
  padding: 16px 20px;
  border: solid 1px $caption-label;
  border-radius: 20px;

  input {
    color: $background;
    font-size: $body-size;
    line-height: $base-line;
    border: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  #icon-password {
    cursor: pointer;
  }
}

.collections-in-tabs,
.nfts-in-tabs {
  background-color: $background-secondary;
  padding: 60px 0 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  @include tablet {
    grid-template-columns: auto auto;
  }
  @include mobile {
    padding: 40px 0;
    grid-template-columns: auto;
  }
}
