@import './variables.scss';
// Elements
// Blockquotes
blockquote,
blockquote p {
  line-height: 1.25rem;
}
blockquote {
  margin: 0 0 20px;
  padding: 0.5rem 1.25rem;
  cite {
    display: block;
    &::before {
      content: '\2014 \0020';
    }
  }
}

div,
form,
ul,
section,
li,
fieldset {
  position: relative;
}

div.full,
section.full {
  width: 100%;
}

// __Lists__

// ul,
// ol {
//   margin-bottom: 20px;
// }
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
}

sup {
  vertical-align: super;
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: default;
}

.draggable {
  cursor: move;
}

svg {
  height: 1rem;
  width: 1rem;
}

.bg {
  background-color: $background !important;
}

.bg-secondary {
  background-color: $background-secondary !important;
}

.filled {
  background-color: $call-to-action;
}

.filled-white {
  background-color: $color-white;
  p {
    color: $background;
  }
}

.svg-filled-1 {
  fill: $call-to-action;
}
.svg-filled-2 {
  fill: $caption-label;
}
.svg-none-fill {
  fill: $color-white;
}

.full-width {
  width: 100% !important;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.additional-card {
  width: 330px;
  height: 469px;
  border-radius: 20px;
  background-color: $background;
  @include flex(row, center, center);
  @include mobile {
    width: 315px;
    height: 402px;
  }
}

// Tabs Ant Design
.ant-tabs {
  > {
    .ant-tabs-nav {
      .ant-tabs-nav-wrap {
        height: 60px;
        .ant-tabs-nav-list {
          width: 1050px;
          @include tablet {
            width: 680px;
          }
          @include mobile {
            width: 315px;
          }
          .ant-tabs-tab {
            flex: 1;
            justify-content: center;
            font-weight: 600;
            + .ant-tabs-tab {
              margin: 0;
            }
            h5 {
              color: $caption-label;
              @include tablet {
                font-size: $body-size;
                line-height: $base-line;
              }
              @include mobile {
                font-size: $body-size;
                line-height: $base-line;
              }
            }
          }
          .ant-tabs-tab-active {
            h5 {
              color: $color-white;
            }
            .quantity-number {
              background-color: #858584 !important;
            }
          }
          .ant-tabs-ink-bar {
            width: calc((100% / 2));
            background-color: $caption-label;
          }
        }
      }
    }
  }
}
.ant-tabs-top {
  > .ant-tabs-nav {
    margin-bottom: 0;

    &::before {
      border: none;
    }
  }
}

.ant-tabs-content-holder {
  background-color: $background-secondary;
}
