@import './variables.scss';
@import './dependencies/helpers.scss';
// Typography
$typo: 'h1' $h1-size $h1-line-y, 'h2' $h2-size $h2-line-y, 'h3' $h3-size $h3-line-y,
  'h4' $h4-size $h4-line-y, 'h5' $h5-size $h5-line-y, 'p' $body-size $base-line,
  'caption' $caption-size $caption-line;

// Font face
@each $font-face in SpaceMono-Regular, WorkSans-Regular {
  @font-face {
    font-family: '#{$font-face}';
    src: url('../fonts/#{$font-face}.ttf') format('truetype');
  }
}

* {
  font-family: 'WorkSans-Regular', sans-serif;
}

.mono {
  font-family: 'SpaceMono-Regular', monospace;
}

@each $name, $fontSize, $lineHeight in $typo {
  #{$name} {
    color: $color-white;
    font-size: $fontSize;
    line-height: $lineHeight;
    margin-block: 0 0;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid $blackish;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 10px 0 30px;
}

// __Links__
a {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  font-weight: 600;
}

a.secondary,
a.secondary:visited {
  color: $color-black600;
  text-decoration: none;
  &:hover {
    color: $color-link-primary;
  }
}

caption {
  color: $caption-label;
}
