@import '../../../styles/variables.scss';

.wrapper-card {
  background-color: $background-secondary;
  position: relative;
  width: 240px;
  height: auto;
  border-radius: 20px;

  @include flex(column, center);
  gap: 20px;
  padding: 20px;
}

.artist-info {
  width: 200px;
  @include flex(column, center);
  gap: 5px;
}

.additional-detail {
  display: flex;
  gap: 10px;
}

.static-text {
  color: $caption-label;
}

.ranking-number {
  position: absolute;
  background: $background;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  left: 20px;
  top: 20px;
  p {
    position: absolute;
    width: auto;
    height: 22px;
    left: 10px;
    top: 3px;
    text-align: center;
    color: $caption-label;
  }
}

.wrapper-card-large {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20px;

  @include flex(row, center);
  gap: 20px;
}

.artist-info-large {
  width: 200px;
  @include flex(column, flex-start);
  gap: 5px;
}

.artist-info-small {
  > h5 {
    font-size: $body-size;
    line-height: $base-line;
  }
}

.additional-detail-large {
  @include flex();
  gap: 5px;
}

.static-text-large {
  color: $caption-label;
}

.ranking-number-large {
  position: absolute;
  background: $background;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  left: 12px;
  top: 13px;
  p {
    position: absolute;
    width: auto;
    height: 22px;
    left: 10px;
    top: 3px;
    text-align: center;
    color: $caption-label;
  }
}

.wrapper-card-medium,
.wrapper-card-small {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;

  padding: 10px 20px;
  @include flex(row, center);
  gap: 12px;
}

.additional-detail-medium,
.additional-detail-small {
  display: none !important;
}

.ranking-number-medium,
.ranking-number-small {
  display: none !important;
}
