@import '../../../styles/variables.scss';

$size: 'large' 120, 'medium' 60, 'small' 24;

@mixin size($size) {
  width: #{$size}px;
  height: #{$size}px;
}

@each $size, $unit in $size {
  .#{$size} {
    @include size($unit);
  }
}


.img-avatar {
  border-radius: 50%;
  object-fit: cover;
}
