@import '../../../styles/variables.scss';

.wrapper-collections {
  background-color: inherit;
  width: 330px;
  border-radius: 20px;

  @include flex(column);
  gap: 15px;

  @include mobile {
    width: 315px;
  }
}

.collection-thumbnail {
  @include flex(column, center);
  gap: 15px;
  height: auto;

  @include mobile {
    @include flex(column);
    align-self: stretch;
  }
}

.photo-primary {
  height: 330px;
  min-width: 330px;
  object-fit: cover;
  cursor: pointer;

  @include mobile {
    height: 315px;
    min-width: 315px;
  }
}

.photo-nft {
  width: 100%;
  @include flex(row, flex-start, space-between);
  gap: 15px;

  a {
    @include mobile {
      width: 95px;
      height: 95px;
    }

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 20px;

      @include mobile {
        height: 95px;
        width: 95px;
      }
    }
  }
}

.additional-number {
  background-color: $call-to-action;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  padding: 32px 15px;
  @include flex(column, center, center);
  @include mobile {
    height: 95px;
    width: 95px;
  }
}

.collection-info {
  @include flex(column);
  gap: 10px;
}
