@import '/src/app/styles/variables.scss';

.info-card {
  padding: 10px 30px 30px;
  width: 330px;
  @include tablet {
    width: 100%;
    padding: 10px 20px 30px;
  }
  @include mobile {
    width: 100%;
    padding: 20px;
    flex-direction: row;
  }
}

.card-icon {
  img {
    width: 250px;
    height: 250px;
    @include tablet {
      width: 160px;
      height: 160px;
    }
    @include mobile {
      width: 100px;
      height: 100px;
    }
  }
}

.card-details {
  @include flex(column, center);
  gap: 10px;
  @include mobile {
    align-items: flex-start;
  }

  h5 {
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.detail-card {
  text-align: center;
  @include tablet {
    font-size: $caption-size;
    line-height: $caption-line;
  }

  @include mobile {
    font-size: $caption-size;
    line-height: $caption-line;
    text-align: start;
  }
}
