@import '../../../styles/variables.scss';

.nft-card {
  height: 469px;
  width: 330px;
  padding: 0;
  gap: 0;
  cursor: pointer;
}

.nft-card-sm {
  height: 402px;
  flex: 1;
}

.image-card {
  @include flex(column);
  width: 330px;
  height: 296px;

  img {
    border-radius: 20px 20px 0 0;

    align-self: stretch;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-card-sm {
  img {
    height: 238px;
    min-width: 315px;
    object-fit: cover;
  }
}

.nft-info {
  width: 100%;
  height: fit-content;
  @include flex(column);
  gap: 25px;
  padding: 20px 30px 25px;
  border-radius: 0 0 20px 20px;
}

.nft-info-sm {
  padding: 20px 20px 25px;
}

.nft-artist-card {
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.additional-nft-info {
  width: 100%;
  height: fit-content;
  @include flex();

  .price {
    @include flex(column);
    flex: 1;
    gap: 8px;
    padding-right: 21px;
  }

  .bid {
    @include flex(column, flex-end);
    gap: 8px;
  }
}

.additional-nft-info-sm {
  .price {
    p {
      font-size: $caption-size;
      line-height: $caption-line;
    }
  }

  .bid {
    p {
      font-size: $caption-size;
      line-height: $caption-line;
    }
  }
}

.caption {
  font-size: $caption-size;
  line-height: $caption-line;
  color: $caption-label;
}
