@import '../../../styles/variables.scss';

.footer {
  background: $background-secondary;
  border-top: solid 2px $background;
  @include flex(column, center, flex-start);
  gap: 49px;
  padding: 40px 195px;

  @include tablet {
    align-self: stretch;
  }

  @include mobile {
    gap: 30px;
    align-self: stretch;
  }
}

.footer-info {
  @include flex(row, flex-start, space-between);

  @include tablet {
    min-width: 690px;
    margin-left: -123px;
    margin-right: -123px;
    flex-direction: column;
    gap: 30px;
  }

  @include mobile {
    width: 315px;
    flex-direction: column;
    gap: 30px;
    margin-left: -165px;
    margin-right: -165px;
  }
}

.marketplace-info {
  @include flex(column);
  width: 327.41px;
  height: fit-content;
  padding-right: 84px;
  gap: 30px;

  @include tablet {
    width: 100%;
    gap: 20px;
    padding: 0;
  }

  @include mobile {
    width: 100%;
    gap: 20px;
    padding: 0;
  }
}

.additional-info {
  @include flex(column);
  gap: 20px;
}

.additional-info p {
  color: #cccccc;
}

.community-info {
  @include flex(column);
  gap: 15px;
}

.icons-container {
  display: flex;
  gap: 10px;
  div {
    cursor: pointer;
  }
}

.explore {
  @include flex(column);
  width: 240px;
  height: fit-content;
  gap: 25px;

  @include tablet {
    gap: 20px;
  }

  @include mobile {
    gap: 20px;
  }

  div {
    color: #cccccc;
    cursor: pointer;
  }

  > {
    h5 {
      line-height: 1.4;
    }
  }
}

.list-pages {
  @include flex(column);
  gap: 20px;
}

.subscribe {
  @include flex(column);
  width: 420px;
  height: fit-content;
  gap: 25px;

  @include tablet {
    gap: 20px;
  }

  @include mobile {
    width: 315px;
    gap: 20px;
  }

  p {
    color: #cccccc;
  }

  > {
    h5 {
      line-height: 1.4;
    }
  }
}

.subscribe-form {
  @include flex(column);
  gap: 20px;

  @include mobile {
    width: 100%;
  }

  p {
    width: 330px;
    height: fit-content;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.copyright {
  @include flex(column);
  align-items: flex-start;
  margin-left: -79.71px;
  margin-right: -79.71px;
  gap: 20px;

  @include tablet {
    width: 690px;
    margin-left: -123px;
    margin-right: -123px;
  }

  @include mobile {
    width: 315px;
    margin-left: -165px;
    margin-right: -165px;
  }
}

.divider {
  width: 100%;
  min-width: 1049.4140625px;
  border-top: 1px solid $caption-label;

  @include tablet {
    min-width: 690px;
  }

  @include mobile {
    min-width: 315px;
  }
}

.copyright {
  p {
    font-size: $caption-size;
    line-height: $caption-line;
    color: #cccccc;
  }
}
