@import '/src/app/styles/variables.scss';

.subscribe-widget {
  padding: 40px 195px 80px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  @include tablet {
    padding: 40px 0 80px;
  }

  @include mobile {
    padding: 40px 0;
    background-color: $background;
  }
}

.wrapper-subscribe {
  background-color: $background-secondary;
  width: 1050px;
  border-radius: 20px;
  @include flex(row, center);
  gap: 80px;
  padding: 60px;

  @include tablet {
    width: 690px;
    justify-content: center;
    gap: 30px;
    padding: 40px 30px;
  }

  @include mobile {
    background-color: inherit;
    width: 315px;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  > img {
    height: 310px;
    min-width: 425px;
    object-fit: cover;
    border-radius: 20px;
    @include tablet {
      height: 280px;
      min-width: 300px;
    }
    @include mobile {
      height: 255px;
      min-width: 315px;
    }
  }

  > div {
    width: 425px;
    @include flex(column);
    gap: 40px;
    @include tablet {
      width: auto;
    }
    @include mobile {
      width: auto;
    }
  }
}

.subscribe-header {
  @include flex(column);
  gap: 10px;
}

.subscribe-heading {
  h3 {
    @include tablet {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
    @include mobile {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }
}

.subscribe-sub-head {
  h5 {
    font-weight: normal;
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}
