@import '/src/app/styles/variables.scss';

.hiw {
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;

  @include tablet {
    gap: 40px;
    padding: 40px 195px;
  }
  @include mobile {
    gap: 40px;
    padding: 40px 195px;
  }
}

.hiw-header {
  @include flex(column);
  width: fit-content;
  gap: 10px;
  width: 1050px;
  @include tablet {
    width: 690px;
  }
  @include mobile {
    width: 315px;
  }
}

.hiw-heading {
  margin-top: -1px;
  h3 {
    @include mobile {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }
}

.hiw-sub-head {
  h5 {
    font-weight: normal;
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.info-card-list {
  @include flex();
  gap: 30px;
  @include tablet {
    width: 690px;
  }
  @include mobile {
    @include flex(column, center);
    width: 315px;
  }
}
