@import '/src/app/styles/variables.scss';

.search {
  background-color: inherit;
  border-color: $background-secondary;
  height: 60px;

  > span {
    @include flex(row, center);
  }

  input {
    background-color: inherit;
    color: $caption-label;
  }
}
