@import '/src/app/styles/variables.scss';
@import '/node_modules/antd/es/tabs/style/index.css';
@import '/src//app/styles/elements.scss';

.artist-page {
  background-color: $background;
  .cover-image {
    @include flex(column, center);
    > img {
      align-self: stretch;
      height: 320px;
      min-width: 1280px;
      object-fit: cover;
      @include tablet {
        min-width: 834px;
      }
      @include mobile {
        min-width: 375px;
      }
    }
    .wrap-profile-image {
      width: 1050px;
      margin-top: -70px;
      height: auto;
      @include flex();
      @include tablet {
        width: 690px;
      }
      @include mobile {
        width: 375px;
        justify-content: center;
      }
      .profile-image {
        border: solid 2px $background;
        border-radius: 20px;
        margin: -2px 0 -2px -2px;
        height: 120px;
        min-width: 120px;

        img {
          height: 120px;
          width: 120px;
        }
      }
    }
  }

  .user-info {
    padding: 40px 0;
    @include flex(column, center);
    gap: 30px;

    .artist-info-section {
      width: 1050px;
      @include flex(column);
      gap: 30px;
      @include tablet {
        width: 690px;
      }
      @include mobile {
        width: 315px;
      }
      .info-headline {
        @include flex();
        width: 100%;
        gap: 30px;
        @include tablet {
          flex-direction: column;
        }
        @include mobile {
          flex-direction: column;
        }
        .artist-name {
          flex: 1;
          @include tablet {
            font-size: $h3-size;
            line-height: $h3-line-y;
          }
          @include mobile {
            font-size: $h3-size;
            line-height: $h3-line-y;
            width: 100%;
          }
          .form-username {
            width: 510px;
            @include mobile {
              width: 100%;
              height: 40px;
              #username {
                height: fit-content;
              }
            }
            > div {
              width: 100%;
            }
          }
        }
        .ctas {
          @include flex();
          gap: 20px;
          @include mobile {
            flex-direction: column;
            width: 100%;
            button {
              width: 100%;
            }
          }
          > button:first-child {
            width: 186px;
            @include mobile {
              width: 100%;
            }
          }
        }
      }
      .info-text {
        @include flex(column);
        gap: 30px;
        width: 510px;
        @include mobile {
          width: 100%;
        }
        .artist-stats {
          width: 100%;
          @include flex();
          gap: 20px;
          @include mobile {
            width: 100%;
          }
          .stats {
            @include flex(column);
            flex: 1;
            .stats-numb {
              @include tablet {
                font-size: $h5-size;
                line-height: $h5-line-y;
              }
              @include mobile {
                font-size: $h5-size;
                line-height: $h5-line-y;
              }
            }
            .stats-name {
              font-weight: normal;
            }
          }
        }
        .artist-bio {
          @include flex(column);
          gap: 10px;
          h5 {
            font-weight: normal;
          }
          .bio {
            font-weight: 700;
            color: $caption-label;
          }
        }
        .artist-links {
          @include flex(column);
          gap: 10px;
          h5 {
            color: $caption-label;
          }
          .links-icons {
            @include flex();
            gap: 10px;
          }
        }
      }
    }
  }
  h5 {
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}
