@import '/src/app/styles/variables.scss';

.login {
  height: 100vh;
  flex-direction: column;
}

.login-header {
  @include flex(column, center, center);
  gap: 5px;
}

.login-heading {
  text-align: center;
}

.login-form {
  > form {
    @include flex(column, center, center);
    gap: 15px;
    width: 315px;
    > div {
      width: 100%;
    }
  }
}
