@import '/src/app/styles/variables.scss';

.nft-page {
  @include flex(column);
  .nft-cover {
    align-self: stretch;
    height: 560px;
    min-width: 1280px;
    background-position: 50% 50%;
    background-size: cover;
    @include tablet {
      height: 420px;
      min-width: 834px;
    }
    @include mobile {
      height: 320px;
      min-width: 375px;
    }
  }

  #nft-info {
    background-color: $background;
    padding: 40px 0;
    @include flex(column, center);
    gap: 30px;
    align-self: stretch;
    .nft-info-section {
      width: 1050px;
      @include flex();
      gap: 30px;
      @include tablet {
        width: 690px;
      }
      @include mobile {
        width: 315px;
      }
      > div {
        width: inherit;
        @include flex();
        gap: 150px;
        align-self: stretch;
        @include tablet {
          gap: 30px;
        }
        @include mobile {
          gap: 20px;
        }
      }
      .nft-details {
        @include flex(column);
        flex: 1;
        gap: 30px;
        @include mobile {
          gap: 20px;
        }
      }
    }
  }

  h5 {
    font-weight: bold;
    color: $caption-label;
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

#headline {
  @include flex(column);
  gap: 10px;

  h2 {
    @include tablet {
      font-size: $h3-size;
      line-height: $h3-line-y;
    }
    @include mobile {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }

  h5 {
    font-weight: normal;
  }
}

#main-info {
  @include flex(column);
  gap: 30px;
}

#created-by {
  @include flex(column);
  gap: 10px;
}

#description {
  @include flex(column);
  gap: 10px;
  p {
    @include destop-sm {
      font-size: $h5-size;
      line-height: $h5-line-y;
    }
  }
}

#details {
  @include flex(column);
  gap: 10px;
  div {
    @include flex(row, center);
    gap: 10px;
    h5 {
      color: $color-white;
      font-weight: normal;
    }
  }
}

#tags {
  @include flex(column);
  gap: 10px;
  div {
    @include flex();
    gap: 10px;
    flex-wrap: wrap;
  }
}

.nft-related {
  flex-direction: column;
  @include tablet {
    padding: 40px 195px;
  }
  @include mobile {
    padding: 40px 0;
  }
  .related-headline {
    width: 1050px;
    @include flex();
    gap: 100px;
    @include tablet {
      width: 690px;
    }
    @include mobile {
      width: 315px;
      gap: 30px;
    }
    h4 {
      flex: 1;
      @include destop-sm {
        font-size: $h3-size;
        line-height: $h3-line-y;
      }
    }
    p {
      color: $color-white;
      text-transform: capitalize;
    }
  }

  #related-section {
    background-color: $background;
    padding: 30px 0 0;
  }
}
