@import '/src/app/styles/variables.scss';
@import '/node_modules/antd/es/tabs/style/index.css';
@import '/src//app/styles/elements.scss';

.market-headline {
  padding: 80px 0;
  @include flex(column, center);
  gap: 40px;

  @include tablet {
    padding: 60px 0;
  }

  @include mobile {
    padding: 40px 0;
  }
  > div {
    width: 1050px;
    @include flex(column);
    gap: 30px;
    @include tablet {
      width: 680px;
    }
    @include mobile {
      width: 315px;
    }
  }
}

.market-header {
  @include flex(column);
  gap: 10px;
  h2 {
    @include tablet {
      font-size: $h3-size;
      line-height: $h3-line-y;
    }
    @include mobile {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }
  h5 {
    font-weight: normal;
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.market-content {
  background-color: $background;
}
