@import '../../../styles/variables.scss';

.trending-collection {
  flex-direction: column;
  padding: 80px 0;
  gap: 60px;

  @include tablet {
    flex-direction: column;
    padding: 40px 0;
    gap: 40px;
    overflow-x: hidden;
  }

  @include mobile {
    @include flex(column, center);
    gap: 40px;
    padding: 40px 0;
    overflow-x: hidden;
  }
}

.tc-headline {
  width: 1046px;
  @include flex(column);
  gap: 10px;
  @include tablet {
    width: 690px;
  }
  @include mobile {
    width: 315px;
  }
}

.tc-head {
  h3 {
    @include tablet {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
    @include mobile {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }
}

.tc-sub-head {
  h5 {
    font-weight: normal;
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.collections {
  @include flex();
  gap: 30px;

  @include tablet {
    width: 690px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  @include mobile {
    width: 315px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
