@import '../../../styles/variables.scss';
.form-container {
  background-color: $color-white;
  width: 420px;
  display: flex;
  gap: 12px;
  padding-left: 20px;
  border-radius: 20px;

  @include mobile {
    background-color: inherit;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.form-container-widget {
  background-color: $color-white;
  width: 420px;
  display: flex;
  gap: 12px;
  padding-left: 20px;
  border-radius: 20px;

  @include tablet {
    background-color: inherit;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  @include mobile {
    background-color: inherit;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.styled-inp {
  width: 100%;
  border: none;
  border-radius: 20px;
  color: $background;

  &:focus {
    outline: none;
  }

  @include mobile {
    height: 46px;
    padding-left: 20px;
  }
}

.styled-inp-widget {
  width: 100%;
  border: none;
  border-radius: 20px;
  color: $background;

  &:focus {
    outline: none;
  }

  @include tablet {
    height: 46px;
    padding-left: 20px;
  }

  @include mobile {
    width: 100%;
    height: 46px;
    padding-left: 20px;
  }
}
