@import '../../styles/dependencies/helpers.scss';
@import '../../styles/variables.scss';

$btns: 'primary' 72px $h5-size $h5-line-y, 'secondary' 60px $body-size $base-line,
  'tertiary' 46px $body-size $base-line;

@mixin padding($top, $right, $bot, $left) {
  padding: $top $right $bot $left;
}

@each $name, $height, $size, $lineHeight in $btns {
  .btn-#{$name} {
    @include flex(row, center, center);
    height: $height;
    background: inherit;
    border: 2px solid $call-to-action;
    border-radius: 20px;
    gap: 12px;

    font-size: $size;
    font-weight: 600;
    line-height: $lineHeight;
  }
}
