@import '../../../styles/variables.scss';

.highlight {
  height: auto;
  @include flex(column, center);
  background-position: 50% 50%;
  background-size: cover;
}

.highlight-content {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
  @include flex(row, flex-end, center);
  padding: 360px 195px 60px;

  @include mobile {
    padding: 120px 195px 40px;
  }

  > div {
    width: 1050px;
    @include flex(row, flex-end);
    @include tablet {
      width: 670px;
    }
    @include mobile {
      width: 315px;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.nft-highlight-info {
  width: 100%;
  height: auto;
  @include flex(column);
  gap: 30px;

  h2 {
    @include tablet {
      font-size: $h3-size;
      line-height: $h3-line-y;
    }
  }
}
