@import '../../../styles/variables.scss';

.top-creators {
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
  text-transform: capitalize;

  @include tablet {
    padding: 40px 195px;
    gap: 40px;
  }

  @include mobile {
    padding: 40px 195px;
    gap: 40px;
  }

  a {
    @include mobile {
      width: 315px;
    }
  }
}

.top-creators-header {
  width: 1050px;
  @include flex(row, flex-end, space-between);
  gap: 100px;
  margin-left: -80px;
  margin-right: -80px;
  @include tablet {
    width: 690px;
    margin-left: -123px;
    margin-right: -123px;
  }
  @include mobile {
    width: 315px;
    margin-left: -165px;
    margin-right: -165px;
  }
}

.top-creators-headline {
  @include flex(column);
  gap: 10px;
  @include tablet {
    flex: 1;
  }
}

.top-creators-heading {
  h3 {
    font-weight: 600;
    @include tablet {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
    @include mobile {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }
}

.top-creators-sub-head {
  h5 {
    font-weight: normal;
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.top-creators-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;

  @include tablet {
    width: 690px;
    grid-template-columns: auto auto;
  }

  @include mobile {
    width: 315px;
    grid-template-columns: auto;
    gap: 20px;
  }
}
