@import '/src/app/styles/variables.scss';

.wrap-label {
  @include flex(row, center, center);
  gap: 16px;
  h5 {
    transition: all 0.3s;
  }
}

.quantity-number {
  background-color: $background-secondary;
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 0.3s;

  @include mobile {
    display: none;
  }

  p {
    font-weight: normal;
  }
}
