@import '/src/app/styles/variables.scss';

.auction-timer {
  width: 295px;
  height: fit-content;
  background: #3b3b3b80;
  border-radius: 20px;
  padding: 30px;
  @include flex(column);
  gap: 10px;
  p {
    font-size: $caption-size;
    line-height: $caption-line;
    color: $color-white;
  }
  .timer {
    @include flex(row, flex-start, space-between);
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    div {
      @include flex(column);
      gap: 5px;
      h3 {
        font-weight: bold;
      }
    }
  }
}
