@import '/src/app/styles/variables.scss';

.register-container {
  background-color: $background;
  @include flex(row, center);
  gap: 60px;
  height: auto;

  @include tablet {
    gap: 40px;
    height: 615px;
  }

  @include mobile {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  img {
    flex: 1;
    height: 690px;
    min-width: 610px;
    object-fit: cover;
    align-self: stretch;

    @include tablet {
      height: 615px;
      min-width: 397px;
    }
    @include mobile {
      height: 232px;
      min-width: 375px;
      flex: none;
    }
  }
}

.create-account-form {
  @include flex(column);
  height: auto;
  flex: 1;
  gap: 40px;
  padding: 80px 0;

  @include mobile {
    gap: 30px;
    padding: 30px 40px;
  }
}

.register-header {
  width: 460px;
  @include flex(column);
  gap: 40px;

  @include tablet {
    width: 325px;
  }
  @include mobile {
    width: 315px;
    gap: 20px;
  }
}

.register-heading {
  h2 {
    @include tablet {
      font-size: $h3-size;
      line-height: $h3-line-y;
    }
    @include mobile {
      font-size: $h3-size;
      line-height: $h3-line-y;
    }
  }
}

.register-sub-head {
  h5 {
    font-weight: normal;
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.register-form {
  width: 330px;
  @include flex(column);
  gap: 30px;

  @include tablet {
    width: 325px;
  }

  @include mobile {
    width: 315px;
  }

  .register-type-form {
    width: inherit;
    @include flex(column);
    gap: 15px;
    > div {
      width: 100%;
    }
  }
}
