@import '../../../styles/variables.scss';

.discover {
  flex-direction: column;
  gap: 60px;
  @include tablet {
    height: fit-content;
    padding: 40px 195px 80px;
    gap: 40px;
  }
  @include mobile {
    padding: 40px 0 60px;
    gap: 40px;
  }

  a.mobile {
    width: 315px;
  }
}

.discover-header {
  width: 1050px;
  @include flex(row, flex-end);
  gap: 100px;

  @include tablet {
    width: 690px;
  }
  @include mobile {
    width: 315px;
  }
}

.discover-headline {
  flex: 1;
  gap: 10px;
}

.discover-heading {
  h3 {
    @include tablet {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
    @include mobile {
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }
}

.discover-sub-head {
  h5 {
    font-weight: normal;
    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }
    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.nft-list {
  width: 1050px;
  height: fit-content;
  @include flex(row, center, space-between);
  gap: 30px;


  @include tablet {
    width: 690px;
    align-items: flex-start;
    overflow-x: hidden;
  }

  @include mobile {
    width: 315px;
    flex-direction: column;
    gap: 20px;
  }
}
