@import '../../../styles/variables.scss';

.wrapper-hero {
  @include flex();
  width: 1050px;
  height: auto;
  margin-left: -80px;
  margin-right: -80px;
  gap: 30px;

  @include tablet {
    width: 690px;
  }

  @include mobile {
    margin: 0;
    flex-direction: column;
    width: 315px;
  }

  a {
    display: contents;
    @include mobile {
      display: block;
      width: 100%;
    }
  }
}

.hero-content {
  height: auto;
  @include flex(column);
  flex: 1;
  gap: 30px;

  @include tablet {
    gap: 20px;
    width: 330px;
  }

  @include mobile {
    gap: 40px;
    width: 100%;
  }
}

.hero-heading {
  height: auto;
  @include flex(column);
  align-self: stretch;
  gap: 20px;

  @include mobile {
    gap: 10px;
  }

  h1 {
    @include flex(column, flex-start, center);
    width: 500px;
    flex: 1;
    text-align: left;
    margin-top: -1px;
    text-transform: capitalize;

    @include tablet {
      width: 330px;
      font-size: $h3-size;
      line-height: $h3-line-y;
    }

    @include mobile {
      width: 100%;
      font-size: $h4-size;
      line-height: $h4-line-y;
    }
  }

  h5 {
    text-align: left;
    font-weight: 400;

    @include tablet {
      font-size: $body-size;
      line-height: $base-line;
    }

    @include mobile {
      font-size: $body-size;
      line-height: $base-line;
    }
  }
}

.hero-text {
  @include flex();
  height: auto;
  align-self: stretch;
  gap: 30px;
}

.informations {
  @include flex(column);
  height: auto;
  flex: 1;

  h4 {
    align-self: stretch;
    margin-top: -1px;
    text-align: left;
    white-space: nowrap;

    @include tablet {
      font-size: $h5-size;
      line-height: $h5-line-y;
    }

    @include mobile {
      font-size: $h5-size;
      line-height: $h5-line-y;
    }
  }

  p {
    align-self: stretch;
    font-size: 24px;
    text-align: left;
    white-space: nowrap;
    @include tablet {
      font-size: $body-size;
    }
    @include mobile {
      font-size: $body-size;
    }
  }
}

.highlight-nft {
  height: 510px;
  @include flex(column, center);
  flex: 1;
  overflow: hidden;

  @include tablet {
    height: 330px;
  }

  @include mobile {
    height: 315px;
  }
}
